@model _5_6_CandidateTracker.data.Candidate
@{
    ViewData["Title"] = "ViewCandidate";
}

<h2>ViewCandidate</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <span>@Model.Name</span>
        <br />
        <span>@Model.Number</span>
        <br />
        <span>@Model.Email</span>
        <br />
        <span>@Model.Notes</span>
        <br />
        <button class="btn btn-success" id="confirm" data-id="@Model.Id">Confirm</button>
        <button class="btn btn-danger" id="decline" data-id="@Model.Id">Decline</button>
    </div>
</div>

@section scripts{ 
<script src="~/js/Candidate.js"></script>
}